.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(30, 30px);
    grid-template-columns: repeat(40, 30px);
    /* grid-gap: 1px; */
    /* width: 60%; */
}

.cell{
    border: 1px solid rgb(32, 55, 158);
    /* background-color: 'white'; */
}

label{
    background-color: pink;
}

