.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(20, 30px);
    /* grid-gap: 1px; */
    /* width: 60%; */
}

.cell{
    border: 1px solid rgb(32, 55, 158);
}
