.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(30, 30px);
    grid-template-columns: repeat(40, 30px);
    /* grid-gap: 1px; */
    /* width: 60%; */
}

.cell{
    border: 1px solid rgb(32, 55, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}
.visited{
    animation-name: bubbleUpAnimation;
    animation-duration: 0.5s;
}

@keyframes bubbleUpAnimation{
    0%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.2);
        opacity: 0.75;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
